SERVER_USER="{{ sandstorm_server_user }}"
PORT=6080
MONGO_PORT=6081
BIND_IP=0.0.0.0
BASE_URL=http://testestest123.sandcats.io:6080
WILDCARD_HOST=*.testestest123.sandcats.io:6080
UPDATE_CHANNEL=dev
ALLOW_DEV_ACCOUNTS=false
SANDCATS_BASE_DOMAIN=sandcats.io
