server {
  listen 80;
  server_name {{domain}};

  root {{ app_location }}/current/public;

  access_log {{ app_location }}/shared/log/nginx-access.log;
  error_log  {{ app_location }}/shared/log/nginx-error.log;

  passenger_enabled on;
  passenger_user    deploy;
  passenger_group   deploy;
  rack_env          production;
}
