<?php

/**
 * Configuration for Lychee app
*/

if(!defined('LYCHEE')) exit('Error: Direct access is not allowed!');

// Config version
$configVersion = '2.1.1';

// Database configuration
$dbHost = 'localhost'; //Host of the Database
$dbUser = '{{lychee_dbuser}}'; //Username of the database
$dbPassword = '{{lychee_dbpassword}}'; //Password of the Database
$dbName = '{{lychee_dbname}}'; //Database name

?>
