server {
  listen 80;
  listen 443 ssl;

  server_name {{domain}};

  ssl_certificate /etc/letsencrypt/live/{{domain}}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{domain}}/privkey.pem;

  root {{ app_location }}/current;

  client_max_body_size 64M;

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }

    # Mitigate https://httpoxy.org/ vulnerabilities
    fastcgi_param HTTP_PROXY "";

    fastcgi_pass 127.0.0.1:9000;
    fastcgi_index index.php;

    # include the fastcgi_param setting
    include fastcgi.conf;

    # SCRIPT_FILENAME parameter is used for PHP FPM determining
    #  the script name. If it is not set in fastcgi_params file,
    # i.e. /etc/nginx/fastcgi_params or in the parent contexts,
    # please comment off following line:
    # fastcgi_param  SCRIPT_FILENAME   $document_root$fastcgi_script_name;
  }

  access_log {{ app_location }}/shared/log/nginx-access.log;
  error_log  {{ app_location }}/shared/log/nginx-error.log;
}
